.hardware__inventory {
  margin-left: 10%;
  margin-right: 4%;
  padding-bottom: 20px;
}

.hardware__inventory .table__view {
  /*transform: scale(0.9);*/

  padding: 20px 20px 0 0;
}

.MuiToolbar-regular {
  min-height: 0 !important;
}

#filter-inventory-wrapper{
  margin-right: 20px;
}

@media (min-width: 600px) {
  .MuiToolbar-regular {
    min-height: 0 !important;
  }
}

@media (min-width: 0px) and (orientation: landscape) {
  .MuiToolbar-regular {
    min-height: 0 !important;
  }
}
