.software__inventory {
  margin-left: 100px;
  padding-bottom: 20px;
}

.software__inventory .table__view {

  padding: 20px 20px 0 0;
}

.MuiToolbar-regular {
  min-height: 0 !important;
}

#filter-inventory-wrapper{
  margin-right: 20px;
}

@media (min-width: 600px) {
  .MuiToolbar-regular {
    min-height: 0 !important;
  }
}

@media (min-width: 0px) and (orientation: landscape) {
  .MuiToolbar-regular {
    min-height: 0 !important;
  }
}
