* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

label {
  font-weight: 500;
}
.btn {
  font-weight: 500;
}
.auth-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-width: 100%;
  min-height: 100vh;
  background: #4680ff;
}

.banner-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("https://www.vertexone.net/hubfs/office-support-1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.auth-wrapper .auth-side-img {
  padding-right: 400px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: center;
}

.aut-bg-img .auth-content {
  padding: 70px 40px;
}

.bg-white {
  background-color: white !important;
}

.auth-wrapper .auth-content {
  position: relative;
  padding: 15px;
  z-index: 5;
}

.auth-wrapper .auth-side-form {
  position: relative;
  min-height: 100%;
  background: #fff;
  display: inline-flex;
  align-items: center;
  left: auto;
  float: right;
}

.auth-wrapper .auth-content:not(.container) {
  width: 500px;
}

.logo {
  font-family: "Open Sans", sans-serif;
}

.login-logo {
  width: 40%;
  margin: 20px;
}

.auth-content-logo {
  width: 500px;
  display: flex;
  flex-direction: row;
}

.aut-bg-img .auth-content {
  padding: 70px 40px;
}

.auth-wrapper .auth-side-form > * {
  position: relative;
  z-index: 5;
}

.btn-primary {
  width: 100% !important;
}

.main-banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  height: 100%;
}

.content-wrapper .row {
  height: 100%;
}

.content-wrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.auth-content {
  width: 80%;
  margin: auto;
}

.bold {
  font-weight: bold;
}

.custom-modal {
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 999;
  overflow: auto;
}

.custom-modal.open {
  opacity: 1;
  pointer-events: all;
}

.custom-modal-content {
  padding: 2rem;
  top: 10vh;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  max-height: 80vh;
  overflow: auto;
}

.select-control {
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 3px 10px;
  color: #575962;
}

.flex {
  display: flex;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-radius-5 {
  border-radius: 5px;
}

.table-pagination-container {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  justify-content: right;
}

.card-body {
  overflow: auto;
}

.table-pagination-container {
  position: relative;
  display: block;
  height: 3rem;
}

.table-pagination-container nav {
  position: sticky;
  right: 0;
  bottom: 0;
}

.cursor-pointer {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

/* td, th{
    text-transform: capitalize!important;
} */

.btn {
  padding: 0.375rem 0.75rem;
}

.ticket-subject {
  font-size: 16px;
}

.ticket-post-info > div {
  background-color: #f6f6f6;
  color: #888888;
  padding: 5px 0;
}

.ticket-post-info {
  border-bottom: 2px solid #ddd;
}

.ticket-details.card {
  border: 1px solid #dddddd;
}

.ticket-details-content {
  border-top: 1px solid #dddddd;
  margin-bottom: 1rem;
}

.ticket-details-content:last-child {
  border-bottom: 1px solid #dddddd;
}

.tox-notification.tox-notification--in.tox-notification--warning {
  display: none;
}

.paginate_button {
  border: 1px solid #ddd !important;
  background-color: white;
  border-radius: 100px !important;
  margin: auto 0.2rem;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #e9e9e9 !important;
  color: #4680ff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: #4680ff !important;
  color: #ddd !important;
}

.img_reply {
  background: white;
  padding: 0.5rem;
  width: 120px;
  height: 120px;
  box-shadow: 0 0 10px 2px #ddd;
  object-fit: cover;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.main-header {
  width: calc(100% - 250px);
  right: 0;
}
.main-header,
.sidebar {
  z-index: 11 !important;
  margin-top: 0 !important;
  box-shadow: 3px 3px 10px #00000014 !important;
}

.sidebar .user {
  border-bottom: none !important;
}

.sidebar .user .info a > span,
.sidebar[data-background-color="white"] .user .info a > span {
  font-weight: bold !important;
}

.sidebar.sidebar-style-2 .nav .nav-item {
  margin: 10px 0;
}

.avatar-sm {
  width: 55px !important;
  height: 55px !important;
}

.table-icon {
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 50%;
  position: relative;
  color: white;
  cursor: pointer;
}

.table-icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .filter-input {
	border: 1px solid #ddd;
	padding: 2px 5px;
    width: 250px;
    max-width: 90%;
} */

.btn-radius {
  border-radius: 3px !important;
}

.ant-picker-range-separator svg {
  margin-top: -7px !important;
}

.margin {
  margin-left: 5px !important;
}

/* .card-details{
	background-color: #ffffff;
	overflow: auto;
	border-radius: 2px 23px 23px 23px;
} */

.ant-collapse-item {
  padding-top: 12px;
  padding-bottom: 12px;
}

.ant-collapse-header {
  display: flex !important;
  align-items: center !important;
}

.main-panel {
  background-color: #f0f1f3 !important;
}

.input-group {
  border: 1px solid #cecece;
}

.searchicon {
  margin-left: 1%;
  z-index: 0;
  position: absolute;
  margin-top: 10px;
  color: #cacaca;
}

.ant-collapse-item {
  background-color: #ffffff;
}

.ant-collapse {
  border: none;
}

.bg-light {
  background-color: #ffffff !important;
}

.card {
  /* border-radius: 0px 20px 20px 20px !important; */
}

.card-title-faq {
  margin-left: 3%;
  color: #422b88;
  font-weight: 600;
  font-size: 26px;
}

.MuiPaper-elevation2 {
  box-shadow: none !important;
}

.MuiTableCell-root {
  padding: 0 !important;
  padding: 10px 0 !important;
}

td i {
  border-radius: 0 !important;
  padding: 0 !important;
  width: 25px !important;
  height: 25px !important;
  font-size: 11px !important;
  border-radius: 3px !important;
}

td {
  text-transform: capitalize;
  padding: 10px 0 !important;
}

.MuiTableCell-footer {
  border-bottom: 0 !important;
  float: none !important;
}

.users table th {
  background: #f4f2ff !important;
}
.roles td:first-child,
.roles th:first-child,
.users table th:first-child,
.users td:first-child {
  /* text-align: center; */
  padding-left: 30px !important;
}
.buttons-row {
  text-align: right;
  display: flex;
  margin: 25px 25px 0 25px;
}

.buttons-row .buttons-col {
  flex: auto !important;
}

.users,
.roles {
  padding: 0 !important;
}
.users th:last-child,
.users th:nth-last-child(2) {
  text-align: center;
}

.users td:last-child,
.roles td:last-child,
.roles th:last-child,
.roles td:last-child,
.users td:nth-last-child(2) {
  text-align: center;
  width: 10%;
}

/* .roles td:first-child, .roles td:last-child{
	text-align: center;
	width: 10% !important;
} */

.users td,
.roles td {
  font-weight: 500 !important;
}

.users th:last-child,
.users th:nth-last-child(2) {
  text-align: center;
}

.main-panel,
body {
  height: 100% !important;
  background-color: #f0f1f3 !important;
  margin-bottom: 100px;
}
.MuiToolbar-root .MuiInput-root {
  background: #f4f2ff;
  padding: 5px;
  border-radius: 6px;
  padding-left: 15px;
}
.MuiToolbar-root .MuiInput-root input {
  width: 300px;
}

.MuiInput-underline:before {
  content: none !important;
}

.users .username {
  margin: 0;
  font-weight: 600;
}

.users .email {
  color: #6e6893;
}

.users .status,
.roles .status {
  padding: 2px 6px;
  width: fit-content;
  border-radius: 40px;
  font-size: 13px;
}

.status-active {
  background: #e6e6f2;
  color: #4a4aff;
}
.status-suspended {
  background: #e6e6f2;
  color: rgb(241 88 96);
}
.status-success {
  background: #e6e6f2;
  color: rgb(36, 145, 22);
}
.status-pending {
  background: #ede7b3;
  color: rgb(110, 104, 147);
}

.users .status:before,
.roles .status:before {
  content: "\A";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
}
.status-active:before {
  background-color: #4a4aff;
}
.status-pending:before {
  background-color: rgb(110, 104, 147);
}
.status-suspended:before {
  background-color: rgb(241 88 96);
}
.status-success:before {
  background-color: rgb(36, 145, 22);
}

.btn-success:disabled,
.btn-success:focus,
.btn-success:hover,
.btn-success,
.btn-info,
.ant-btn-primary {
  background: #6d5bd0 !important;
  border-color: #6d5bd0 !important;
}

.btn-info:hover {
  background: #6d5bd0 !important;
  border-color: #6d5bd0 !important;
}

.btn-info:active {
  background: #6d5bd0 !important;
  border-color: #6d5bd0 !important;
}
.btn-info:disabled,
.btn-info:focus,
.btn-info:hover {
  background: #6d5bd0 !important;
  border-color: #6d5bd0 !important;
}
form label {
  font-weight: 700;
}

.card {
  margin-bottom: 0 !important;
}
.navbar-header[data-background-color="blue2"] {
  background: #422b88 !important;
}
.navbar-nav .logo-img {
  height: auto;
}

.logo-header[data-background-color="blue"] {
  background: #422b88 !important;
}
.footer {
  background-color: #422b88;
  padding: 10px !important;
  position: fixed;
  bottom: 0;
}

.footer li.nav-item {
  color: #ffffff !important;
}

.footer .copyright {
  color: #ffffff !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: 18px;
  color: #808080;
}
.ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-arrow
  svg {
  fill: #808080;
}
.ant-collapse > .ant-collapse-item:last-child,
.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
  border-bottom: none;
}
.faq-container h1 {
  color: #858585;
  font-size: 24px;
}
.faq-container p {
  color: #858585;
  font-size: 18px;
}
.faq-cards {
  height: 200px;
  color: #858585;
  box-shadow: none;
  border-radius: 10px !important;
}
.faq-cards i {
  font-size: 20px;
}
.faq-cards h5 {
  font-size: 18px;
  color: #858585;
  margin-bottom: 5px;
}

.create-user-container {
  background: url(https://www.vertexone.net/hubfs/office-support-1.jpg);
  object-fit: cover;
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.ticket-details-form-wrapper {
  margin-bottom: 50px;
}

.main-panel > .content {
  margin: 62px 0;
}

.ant-picker-input > input:placeholder-shown {
  height: 28px !important;
}

.ant-picker-focused {
  border-color: #3e93ff !important;
  box-shadow: none !important;
}

.ant-picker {
  border-radius: 5px !important;
}

.ant-select-selector,
.ant-select-show-search.ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  height: 39px;
  border-radius: 5px;
}

.ant-select-show-search.ant-select:not(.ant-select-customize-input)
  .ant-select-selector
  input {
  height: 100%;
}
.ant-select-single .ant-select-selector .ant-select-selection-item,
.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
  line-height: 39px;
}

.btn-outline-primary {
  color: #6d5bd0;
  background-color: transparent;
  background-image: none;
  border-color: #6d5bd0;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #6d5bd0;
  border-color: #6d5bd0;
}

.bg-success,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #6d5bd0 !important;
  border-color: #6d5bd0 !important;
}

.icon-img {
  width: 11%;
  height: auto;
  margin: 0 10px;
}

.btn-outline-info {
  color: #6d5bd0;
  background-color: transparent;
  background-image: none;
  border-color: #6d5bd0;
}

.btn-outline-info:hover {
  background: #6d5bd0 !important;
  border-color: #6d5bd0 !important;
}

.btn-outline-info:active {
  background: #6d5bd0 !important;
  border-color: #6d5bd0 !important;
}
.btn-outline-info:disabled,
.btn-info:focus,
.btn-info:hover {
  background: #6d5bd0 !important;
  border-color: #6d5bd0 !important;
}

.timeline-block div {
  /* height: 45px; */
  padding: 5px;
  font-family: Lato, sans-serif !important;
}

.timeline-block span::first-letter {
  text-transform: capitalize;
}

.software-heading {
  display: none;
  color: rgb(66, 43, 136);
  font-weight: bold;
  font-size: 18px;
}

@media screen and (max-width: 1510px) {
  .col-lg-3 .dashboard-card {
    height: 150px;
  }
}

@media screen and (max-width: 1450px) {
  .software-heading {
    display: block;
  }
  .inv-heading {
    display: none;
  }
  .sec-one span {
    font-size: 12px;
  }
}

@media screen and (max-width: 1359px) {
  .dashboard-card-container .col-xl-8 {
    margin: 1px;
  }
  .col-xl-8 .dashboard-card {
    width: 75vw;
  }
  .col-xl-4 .dashboard-inventory {
    width: 75vw;
  }
  .software-heading {
    display: none;
  }
  .inv-heading {
    display: block;
  }
}

@media screen and (max-width: 1280px) {
  .user-block {
    max-height: 400px;
    overflow-y: scroll;
  }
  .col-xl-8 .dashboard-card {
    width: auto;
  }
  .col-xl-4 .dashboard-inventory {
    width: auto;
  }
}

/* 1359 */

@media screen and (max-width: 991px) {
  .navbar-header {
    transform: none !important;
    transition: none !important;
  }
  .timeline-block,
  .user-block {
    overflow-y: hidden;
  }
  .main-header {
    width: 100%;
  }
  .navbar-header .navbar-nav {
    justify-content: left;
    width: auto;
  }
  .inv-heading {
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(270deg);
  }
}

.sidebar.sidebar-style-2 .nav .nav-item a:focus,
.sidebar.sidebar-style-2 .nav .nav-item a:hover,
.sidebar.sidebar-style-2
  .nav
  .nav-item
  a[data-toggle="collapse"][aria-expanded="true"] {
  background-color: #f4f2ff;
}

.nav-item.curr-active > a {
  background-color: #f4f2ff !important;
}

.nav-item.curr-active > p {
  font-weight: bold;
}

.show-password {
  position: absolute;
  top: 58%;
  right: 30px;
  cursor: pointer;
}

.MuiTableCell-head {
  background-color: #f4f2ff !important;
  font-weight: bold;
}

.MuiTableCell-head div {
  font-weight: bold;
}
